@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500|IBM+Plex+Serif:400');

body {
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;

    margin: 0 auto;
    padding: 4em 1.5em;
    max-width: 38em;
    line-height: 1.5;

    color: #FFFFFF;
    background-color: #0067C6;
}

header {
    font-size: 120%;
}

footer {
    font-size: 80%;
}

h1, h2, h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.2;
}

h2, h3 {
    margin-top: 1em;
}

p {
    text-align: justify;
    hyphens: auto;
}

a {
    color: #ffe900;
}

hr {
    color: #FFFFFF;
}

figure img {
    display: block;
    margin-left: 50%;
	transform: translateX(-50%);
/*
    max-height: 20em;
    max-width: 100%;
*/
}

figure figcaption p {
    font-weight: bolder;
}

pre code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 80%;
    display: block;
    overflow-x: scroll;
}